API_LOG_LEVEL=info
GOOGLE_PSI_BASE_URL=https://www.googleapis.com/pagespeedonline/v5
GOOGLE_PSI_API_KEY=
GOOGLE_CRUX_BASE_URL=https://chromeuxreport.googleapis.com/v1
GOOGLE_CRUX_API_KEY=
SUPABASE_STORAGE_BUCKET_NAME=

# developement envs
NODE_ENV=development
DATABASE_URL=
REDIS_URL=
RESEND_API_KEY="resend_api_key"
RESEND_BASE_URL="http://localhost:3099"
SUPABASE_URL=
SUPABASE_SECRET_KEY=

# production envs
# NODE_ENV=production
# DATABASE_URL=
# RESEND_API_KEY=
# REDIS_URL=
# SUPABASE_URL=
# SUPABASE_SECRET_KEY=

# text envs
# NODE_ENV=test
# DATABASE_URL=
# RESEND_API_KEY="resend_api_key"
# RESEND_BASE_URL="http://localhost:3099"
# REDIS_URL=
# SUPABASE_URL=
# SUPABASE_SECRET_KEY=