API_LOG_LEVEL=info
NEXT_PUBLIC_SITE_NAME=DTR - Dream To Real
GOOGLE_AUTH_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_AUTH_CLIENT_ID=

# developement envs
NODE_ENV=development
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
DATABASE_URL="postgresql://postgres:postgres@localhost:54322/postgres"
MAIL_FROM=
SUPPORT_MAIL=
REDIS_REST_URL="http://localhost:8079"
REDIS_REST_TOKEN="local_redis_token"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=
QSTASH_URL="http://127.0.0.1:8080"
QSTASH_TOKEN="eyJVc2VySUQiOiJkZWZhdWx0VXNlciIsIlBhc3N3b3JkIjoiZGVmYXVsdFBhc3N3b3JkIn0="
QSTASH_CURRENT_SIGNING_KEY="sig_7kYjw48mhY7kAjqNGcy6cr29RJ6r"
QSTASH_NEXT_SIGNING_KEY="sig_5ZB6DVzB1wjE8S6rZ7eenA8Pdnhs"
QSTASH_DEV=true
RESEND_API_KEY="resend_api_key"
RESEND_API_URL="http://localhost:3099"
NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_SECRET_KEY=

# production envs
# NODE_ENV=production
# NEXT_PUBLIC_SITE_URL=
# DATABASE_URL=
# MAIL_FROM=
# SUPPORT_MAIL=
# REDIS_REST_URL=
# REDIS_REST_TOKEN=
# BETTER_AUTH_URL=
# BETTER_AUTH_SECRET=
# QSTASH_URL=
# QSTASH_TOKEN=
# QSTASH_CURRENT_SIGNING_KEY=
# QSTASH_NEXT_SIGNING_KEY=
# RESEND_API_KEY=
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
# SUPABASE_SECRET_KEY=

# text envs
# NODE_ENV=test
# NEXT_PUBLIC_SITE_URL=
# DATABASE_URL=
# MAIL_FROM=
# SUPPORT_MAIL=
# REDIS_REST_URL="http://localhost:8079"
# REDIS_REST_TOKEN="local_redis_token"
# BETTER_AUTH_URL="http://localhost:3000"
# BETTER_AUTH_SECRET=
# QSTASH_URL="http://127.0.0.1:8080"
# QSTASH_TOKEN="eyJVc2VySUQiOiJkZWZhdWx0VXNlciIsIlBhc3N3b3JkIjoiZGVmYXVsdFBhc3N3b3JkIn0="
# QSTASH_CURRENT_SIGNING_KEY="sig_7kYjw48mhY7kAjqNGcy6cr29RJ6r"
# QSTASH_NEXT_SIGNING_KEY="sig_5ZB6DVzB1wjE8S6rZ7eenA8Pdnhs"
# QSTASH_DEV=true
# NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
# SUPABASE_SECRET_KEY=