API_LOG_LEVEL=info
NEXT_PUBLIC_SITE_NAME=DTR - Dream To Real

# developement envs
NODE_ENV=development
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# production envs
# NODE_ENV=production
# NEXT_PUBLIC_SITE_URL="https://smart-service-neon.vercel.app"

# text envs
# NODE_ENV=test
# NEXT_PUBLIC_SITE_URL=""