{
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0 --config ./apps/web/eslint.config.js"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0 --config ./packages/ui/eslint.config.js"
  ],
  "packages/drizzle/**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0 --config ./packages/drizzle/eslint.config.js"
  ],
  "packages/lib/**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0 --config ./packages/lib/eslint.config.js"
  ],
  "packages/vitest-config/**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0 --config ./packages/vitest-config/eslint.config.js"
  ],
  "packages/mail/**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0 --config ./packages/mail/eslint.config.js"
  ],
  "*.md": ["prettier --write"]
}
