APP_NAME=
API_LOG_LEVEL=
BACKEND_PORT=
CSRF_TOKEN=
CORS_ORIGIN=
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=

# development env
DATABASE_URL=
SITE_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
GOOGLE_PSI_API_KEY=
GOOGLE_CRUX_API_KEY=
RESEND_API_KEY=
RESEND_BASE_URL=
RESEND_INBOUND_WEBHOOK_SECRET=
RESEND_OUTBOUND_WEBHOOK_SECRET=
BULLMQ_SIGNING_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
SUPPORT_MAIL=
SYSTEM_MAIL=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_STORAGE_BUCKET_NAME=


# production envs
# DATABASE_URL=
# SITE_URL=
# REDIS_HOST=
# REDIS_PORT=
# REDIS_USERNAME=
# REDIS_PASSWORD=
# GOOGLE_PSI_API_KEY=
# GOOGLE_CRUX_API_KEY=
# RESEND_API_KEY=
# RESEND_BASE_URL=
# RESEND_INBOUND_WEBHOOK_SECRET=
# RESEND_OUTBOUND_WEBHOOK_SECRET=
# BULLMQ_SIGNING_SECRET=
# BETTER_AUTH_URL=
# BETTER_AUTH_SECRET=
# SUPPORT_MAIL=
# SYSTEM_MAIL=

# test envs
# DATABASE_URL=
# SITE_URL=
# REDIS_HOST=
# REDIS_PORT=
# REDIS_USERNAME=
# REDIS_PASSWORD=
# GOOGLE_PSI_API_KEY=
# GOOGLE_CRUX_API_KEY=
# RESEND_API_KEY=
# RESEND_BASE_URL=
# RESEND_INBOUND_WEBHOOK_SECRET=
# RESEND_OUTBOUND_WEBHOOK_SECRET=
# BULLMQ_SIGNING_SECRET=
# BETTER_AUTH_URL=
# BETTER_AUTH_SECRET=
# SUPPORT_MAIL=
# SYSTEM_MAIL=