API_LOG_LEVEL=
BACKEND_PORT=
CSRF_TOKEN=
BULLMQ_SIGNING_SECRET=
RESEND_API_KEY=
CORS_ORIGIN="http://localhost:3000"

# development env
DATABASE_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
GOOGLE_PSI_API_KEY=
GOOGLE_CRUX_API_KEY=
RESEND_API_KEY="resend_api_key"
RESEND_INBOUND_WEBHOOK_SECRET=
RESEND_OUTBOUND_WEBHOOK_SECRET=

# production envs
# DATABASE_URL=
# REDIS_HOST=
# REDIS_PORT=
# REDIS_USERNAME=
# REDIS_PASSWORD=
# RESEND_API_KEY=
# RESEND_INBOUND_WEBHOOK_SECRET=
# RESEND_OUTBOUND_WEBHOOK_SECRET=

# test envs
# DATABASE_URL=
# REDIS_HOST=
# REDIS_PORT=
# REDIS_USERNAME=
# REDIS_PASSWORD=
# RESEND_API_KEY=
# RESEND_INBOUND_WEBHOOK_SECRET=
# RESEND_OUTBOUND_WEBHOOK_SECRET=