APP_NAME=
API_LOG_LEVEL=
PORT=
CSRF_TOKEN=
DOMAIN_NAME=
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
SUPABASE_STORAGE_BUCKET_NAME=

SENTRY_DSN=
SENTRY_ENVIRONMENT=
SENTRY_RELEASE=
SENTRY_TRACES_SAMPLE_RATE=
SENTRY_DISABLED=false

# development env
DATABASE_URL=
CORS_ORIGIN=
SITE_URL=
REDIS_URL=
REDIS_TLS=
RESEND_API_KEY=
RESEND_BASE_URL=
RESEND_INBOUND_WEBHOOK_SECRET=
RESEND_OUTBOUND_WEBHOOK_SECRET=
RESEND_EVENT_WEBHOOK_SECRET=
BULLMQ_SIGNING_SECRET=
BETTER_AUTH_SECRET=
SUPPORT_MAIL=
SYSTEM_MAIL=
SUPABASE_URL=
SUPABASE_SECRET_KEY=

# production envs
# DATABASE_URL=
# CORS_ORIGIN=
# SITE_URL=
# REDIS_URL=
# REDIS_TLS=true
# RESEND_API_KEY=
# RESEND_INBOUND_WEBHOOK_SECRET=
# RESEND_OUTBOUND_WEBHOOK_SECRET=
# RESEND_EVENT_WEBHOOK_SECRET=
# BULLMQ_SIGNING_SECRET=
# BETTER_AUTH_SECRET=
# SUPPORT_MAIL=
# SYSTEM_MAIL=
# SUPABASE_URL=
# SUPABASE_SECRET_KEY=

# test envs
# DATABASE_URL=
# CORS_ORIGIN=
# SITE_URL=
# REDIS_URL=
# REDIS_TLS=
# RESEND_API_KEY=
# RESEND_BASE_URL=
# RESEND_INBOUND_WEBHOOK_SECRET=
# RESEND_OUTBOUND_WEBHOOK_SECRET=
# RESEND_EVENT_WEBHOOK_SECRET=
# BULLMQ_SIGNING_SECRET=
# BETTER_AUTH_SECRET=
# SUPPORT_MAIL=
# SYSTEM_MAIL=
# SUPABASE_URL=
# SUPABASE_SECRET_KEY=
